<nav>
     <a href="/users/signup">Sign Up</a>
      <a href="/users/login">Login</a>
      <a href="/recipes/all-recipes">Recipes</a>
      <a href="/users/logout">Logout</a>
</nav>

<h1>A Cooks Companion</h1>
<h2>Get cooking!</h2>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}
