<nav class="login-nav">

        <div class="login-nav-left">

         <a href="/">

            <ul class="login-ul">

                <li>

                    <h1>Cooks Companion</h1>

                </li>

            </ul>

        </a>
    </div>

    <div class="login-nav-right">
        <a href="/recipes/all-recipes">Recipes</a>
        <a href="/">Home</a>
    </div>
</nav>

<hr class="hr">


<div class="login-main-div">

    <h2>Login</h2>

    <form action="/users/login" method="post">

    <label for="">Email</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Login</button>

    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}

    </form>

</div>