<nav class="create-recipes-nav">

    <div class="create-recipes-nav-left">

        <a href="/">

            <h1>Cooks Companion</h1>

        </a>

    </div>

    <div class="create-recipes-nav-right">

        <ul class="create-recipes-ul">

            <li>

                <a href="/recipes/all-recipes">Back</a>

            </li>

        </ul>


    </div>

</nav>

<hr class="hr">

    
<div class="create-recipes-main">
    
    <div class="create-recipes-main-box">

        <h2>Add New Recipe</h2>

    </div>
    

    <form class="create-recipe-form" action="/recipes/create-recipes" method="POST" enctype="multipart/form-data">

        <label for="">Title</label>
        <input type="text" name="title">

        <label for="">Ingredients</label>
        <input type="text" name="ingredients">

        <label for="">Directions</label>
        <input type="text" name="directions">

        <label for="">Image</label>
        <input type="file" name="image">

        <label for="">Cuisine</label>
        <input type="text" name="cuisine">

        <label for="">Dish Type:</label>

            <select type="text" name="dishType">

                <option value='breakfast'>Breakfast</option>
                <option value='main_course'>Main Course</option>
                <option value='soup'>Soup</option>
                <option value='snack'>Snack</option>
                <option value='drink'>Drink</option>
                <option value='dessert'>Dessert</option>
                <option value='other'>Other</option>

            </select>

        <label for="">Duration</label>
        <input type="text" name="duration">

        <label for="">Level</label>

            <select type="text" name="level">

                <option value='Easy Peasy'>Easy</option>
                <option value='Amateur Chef'>Amateur</option>
                <option value='UltraPro Chef'>Pro</option>

            </select>


        <button type="submit">Add Recipe</button> 

    </form> 
</div>
